@import 'scss/Settings.scss';

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    margin-top: 39px;
}

.register {
    ul {
        margin-top: 0;

        li {
            margin-top: 0;
            font-size: 18px;
        }
    }

    .password {
        width: 170px;
        max-width: none;
    }
}


