@font-face {
  font-family: 'ralewayregular';
  src: url("Fonts/raleway-regular-webfont.woff2") format("woff2"), url("Fonts/raleway-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ralewaybold';
  src: url("Fonts/raleway-bold-webfont.woff2") format("woff2"), url("Fonts/raleway-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ralewaysemibold';
  src: url("Fonts/raleway-semibold-webfont.woff2") format("woff2"), url("Fonts/raleway-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.no-gutters {
  padding-left: 0;
  padding-right: 0; }

.center-block {
  margin: 0 auto;
  display: block;
  float: none; }

@media (max-width: 767px) {
  .hide-for-small {
    display: none; } }

@media (min-width: 767px) {
  .show-for-small {
    display: none; } }

.float-right {
  float: right; }

.float-left {
  float: left; }

.relative {
  position: relative; }

h1, h2, h3, h4, h5 {
  font-family: "ralewaybold"; }

.row {
  margin-left: 0;
  margin-right: 0; }

.bw {
  margin: 15px 0;
  width: 100%; }

.m-top-50 {
  margin-top: 50px; }

.m-top-25 {
  margin-top: 25px; }

.m-bottom-25 {
  margin-bottom: 25px; }

ul {
  list-style-type: none;
  margin-top: -190px;
  padding-left: 0; }
  @media (min-width: 1600px) {
    ul {
      margin-top: -130px; } }
  ul li {
    margin: 0;
    margin-top: -55px;
    font-size: 50px; }
    ul li .chevron::before {
      border-style: solid;
      border-width: 0.15em 0.15em 0 0;
      content: '';
      display: inline-block;
      height: 1.25em;
      position: relative;
      transform: rotate(135deg);
      vertical-align: top;
      width: 1.25em;
      border-radius: 5px;
      border-color: #fff; }

label.error {
  color: #FF0000; }

.border-right {
  border-right: 2px solid #000; }

@media (min-width: 1350px) {
  .row-max {
    max-width: 1263px;
    margin: 0 auto; } }

@font-face {
  font-family: 'ralewayregular';
  src: url("Fonts/raleway-regular-webfont.woff2") format("woff2"), url("Fonts/raleway-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ralewaybold';
  src: url("Fonts/raleway-bold-webfont.woff2") format("woff2"), url("Fonts/raleway-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ralewaysemibold';
  src: url("Fonts/raleway-semibold-webfont.woff2") format("woff2"), url("Fonts/raleway-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.nav {
  background-color: #fff;
  border: none; }
  .nav .nav-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 65px;
    background-color: #273866;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    display: none;
    z-index: 10;
    outline: none; }
    .nav .nav-icon span {
      top: 0;
      font-size: 50px;
      color: #ed1c24; }
    @media (max-width: 767px) {
      .nav .nav-icon {
        display: block; } }
  .nav .slide-container {
    border-bottom: solid 1px #d4d4d4; }
    @media (min-width: 768px) {
      .nav .slide-container {
        position: relative; } }
    @media (max-width: 767px) {
      .nav .slide-container {
        position: absolute;
        left: -9999px;
        width: 100%;
        height: 800px;
        display: block;
        z-index: 5;
        background-color: #fff; } }
    @media (max-width: 480px) {
      .nav .slide-container {
        overflow: scroll;
        max-height: 630px; } }
    .nav .slide-container ul {
      list-style-type: none; }
      @media (max-width: 767px) {
        .nav .slide-container ul {
          padding-left: 0; } }
      .nav .slide-container ul li {
        font-size: 18px;
        padding: 10px;
        margin: 0 5px; }
        @media (max-width: 768px) {
          .nav .slide-container ul li {
            margin: 0; } }
        @media (max-width: 767px) {
          .nav .slide-container ul li {
            font-size: 6vw;
            padding: 25px;
            border-top: solid 1px #d4d4d4; } }
        .nav .slide-container ul li a {
          padding: 0;
          display: block;
          color: #000; }
          .nav .slide-container ul li a:hover, .nav .slide-container ul li a:focus {
            color: #000 !important;
            background-color: transparent !important; }
          .nav .slide-container ul li a:visited {
            color: #000;
            background-color: transparent; }

@media (max-width: 767px) {
  .navbar-header a img {
    padding-right: 25px; } }

.dropdown:hover .dropdown-menu {
  display: block; }

@media (max-width: 767px) {
  .dropdown-menu {
    display: block; } }

.user-controls {
  position: fixed;
  right: 2px;
  top: 100px;
  z-index: 100; }
  @media (max-width: 767px) {
    .user-controls {
      top: 150px; } }
  .user-controls li {
    display: block;
    margin-bottom: 2px;
    background-color: #273866;
    padding: 5px; }
    .user-controls li:nth-of-type(1) {
      background-color: #FF0000; }
    .user-controls li a {
      color: #fff;
      font-size: 38px; }

@font-face {
  font-family: 'ralewayregular';
  src: url("Fonts/raleway-regular-webfont.woff2") format("woff2"), url("Fonts/raleway-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ralewaybold';
  src: url("Fonts/raleway-bold-webfont.woff2") format("woff2"), url("Fonts/raleway-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ralewaysemibold';
  src: url("Fonts/raleway-semibold-webfont.woff2") format("woff2"), url("Fonts/raleway-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.headerVideo .col-lg-9 {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, 0); }
  .headerVideo .col-lg-9 .col-lg-2 {
    min-width: 235px; }
  .headerVideo .col-lg-9 .easiest {
    padding-top: 8px; }

.headerVideo .col-md-3 {
  border-right: 5px solid #fff; }
  @media (max-width: 767px) {
    .headerVideo .col-md-3 {
      border: 0; } }

@media (max-width: 767px) {
  .headerVideo .col-xs-10 {
    float: none;
    margin: 0 auto; } }

.headerVideo h1 {
  font-size: 5vw;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); }
  @media (max-width: 767px) {
    .headerVideo h1 {
      font-size: 7vw; } }

.headerVideo h2 {
  color: #fff;
  text-shadow: #000; }
  @media (max-width: 767px) {
    .headerVideo h2 {
      text-align: center;
      font-size: 4vw; } }
  @media (max-width: 480px) {
    .headerVideo h2 {
      font-size: 5vw; } }
  .headerVideo h2 span {
    color: #FF0000; }

.headerVideo h5 {
  font-size: 19px;
  font-weight: 700;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); }

.headerVideo video {
  width: 100%;
  height: 100%;
  max-height: 600px;
  min-height: 500px;
  object-fit: fill; }

@font-face {
  font-family: 'ralewayregular';
  src: url("Fonts/raleway-regular-webfont.woff2") format("woff2"), url("Fonts/raleway-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ralewaybold';
  src: url("Fonts/raleway-bold-webfont.woff2") format("woff2"), url("Fonts/raleway-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ralewaysemibold';
  src: url("Fonts/raleway-semibold-webfont.woff2") format("woff2"), url("Fonts/raleway-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.btn {
  width: 100%;
  display: block;
  font-size: 1.2em;
  color: #000;
  max-width: 140px;
  font-family: "ralewaysemibold"; }
  @media (max-width: 480px) {
    .btn {
      font-size: 1em; } }
  .btn.red {
    background-color: #FF0000;
    color: #fff; }
  .btn.white {
    background-color: #fff;
    color: #FF0000; }
  .btn.black {
    background-color: #000;
    color: #fff; }
  .btn:hover {
    opacity: .7; }

@font-face {
  font-family: 'ralewayregular';
  src: url("Fonts/raleway-regular-webfont.woff2") format("woff2"), url("Fonts/raleway-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ralewaybold';
  src: url("Fonts/raleway-bold-webfont.woff2") format("woff2"), url("Fonts/raleway-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ralewaysemibold';
  src: url("Fonts/raleway-semibold-webfont.woff2") format("woff2"), url("Fonts/raleway-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.full-service {
  padding-bottom: 25px; }
  .full-service h3 {
    font-size: 4vw;
    color: #000; }
    @media (max-width: 767px) {
      .full-service h3 {
        font-size: 6.5vw; } }
    .full-service h3 span {
      color: #FF0000; }
  .full-service h4 {
    font-size: 1.7em; }
  .full-service p {
    font-size: 1.2em;
    height: 100%; }
    .full-service p span {
      color: #FF0000; }
  .full-service .blocks {
    height: 300px; }
  .full-service .bw .btn {
    margin: 0 auto;
    display: block; }

.knowledge {
  background-image: url("/Content/Images/Home/Backgrounds/IMG_2594.jpg");
  background-size: cover;
  background-position: 0 -1250px; }
  .knowledge h3 {
    color: #fff;
    font-size: 52px;
    padding: 140px 0;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); }
    .knowledge h3 span {
      color: #FF0000; }

.partner h3 {
  font-size: 4vw; }
  @media (max-width: 767px) {
    .partner h3 {
      font-size: 6.4vw; } }
  .partner h3 span {
    color: #FF0000; }

.partner .circle {
  position: relative;
  background-color: #FF0000;
  color: #fff;
  border-radius: 50%;
  width: 250px;
  height: 250px; }
  @media (max-width: 767px) {
    .partner .circle {
      margin-top: 15px; } }
  .partner .circle .circle-block {
    display: none;
    padding-top: 45px; }
  .partner .circle h5 {
    font-size: 4em; }
  .partner .circle p {
    font-size: 1.7em; }

.dotted-line {
  display: block;
  border-top: 5px solid #FF0000;
  width: 70%; }

.clients h5 {
  color: #FF0000;
  font-size: 2.8em; }

@font-face {
  font-family: 'ralewayregular';
  src: url("Fonts/raleway-regular-webfont.woff2") format("woff2"), url("Fonts/raleway-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ralewaybold';
  src: url("Fonts/raleway-bold-webfont.woff2") format("woff2"), url("Fonts/raleway-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ralewaysemibold';
  src: url("Fonts/raleway-semibold-webfont.woff2") format("woff2"), url("Fonts/raleway-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.our-process .light-blk-box {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 15px;
  width: 100%;
  max-width: 710px;
  margin: -595px auto 0 auto;
  padding: 50px; }
  @media (max-width: 1024px) and (min-width: 900px) {
    .our-process .light-blk-box {
      margin: -565px auto 0 auto; } }
  @media (max-width: 900px) and (min-width: 767px) {
    .our-process .light-blk-box {
      padding: 30px;
      margin: -557px auto 0 auto; } }
  @media (max-width: 767px) {
    .our-process .light-blk-box {
      margin: -457px auto 0 auto; } }
  @media (max-width: 600px) {
    .our-process .light-blk-box {
      margin: -492px auto 0 auto; } }
  @media (max-width: 480px) {
    .our-process .light-blk-box {
      padding: 5px; } }
  .our-process .light-blk-box h2 {
    color: #fff;
    font-size: 4.5em; }
  .our-process .light-blk-box p {
    color: #fff;
    font-size: 18px; }
    .our-process .light-blk-box p span {
      color: #FF0000; }
  .our-process .light-blk-box ul {
    margin-top: 55px; }

.our-process .chevron:before {
  border-color: #FF0000; }

.our-process video {
  width: 100%;
  height: 100%;
  max-height: 630px;
  min-height: 500px;
  object-fit: fill; }
  @media (max-width: 1024px) and (min-width: 767px) {
    .our-process video {
      min-height: 575px; } }

.circles .circle {
  position: relative;
  background-color: #FF0000;
  border-radius: 50%;
  height: 220px;
  width: 220px; }
  @media (max-width: 480px) {
    .circles .circle {
      position: relative !important;
      margin: 15px auto;
      display: block;
      left: auto !important;
      right: auto !important; } }
  .circles .circle.distribution {
    position: absolute;
    right: 2%;
    top: 25%; }
    @media (max-width: 767px) {
      .circles .circle.distribution {
        top: 21.9%; } }
  .circles .circle.awareness {
    position: absolute;
    right: 2%;
    top: 51.2%; }
    @media (max-width: 767px) {
      .circles .circle.awareness {
        top: 56.6%; } }
  .circles .circle.retention {
    margin-top: 15px; }
  .circles .circle h5 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5em;
    color: #fff;
    display: none; }

.circles p {
  position: absolute;
  left: 50%;
  width: 47%;
  top: 29%;
  transform: translate(-50%, 0);
  display: none; }
  @media (min-width: 1342px) {
    .circles p {
      max-width: 25vw; } }
  @media (max-width: 900px) {
    .circles p {
      width: 41%; } }
  @media (max-width: 767px) {
    .circles p {
      position: relative;
      width: 100%;
      padding: 25px 0; } }
  @media (max-width: 480px) {
    .circles p {
      padding: 25px 0 35px 0; } }

.circles a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
  display: none;
  color: #000;
  cursor: pointer; }
  @media (max-width: 767px) {
    .circles a {
      top: 55%; } }
  @media (max-width: 480px) {
    .circles a {
      top: 40%; } }

.focus-on {
  background-color: #FF0000;
  padding-top: 25px;
  color: #fff; }
  .focus-on h3 {
    font-size: 3em; }
  .focus-on .border-bottom {
    background-color: #fff;
    width: 30%;
    height: 2px;
    margin: 15px 0;
    display: none; }

@media (min-width: 1342px) {
  .col-lg-9 {
    max-width: 1024px; } }

@font-face {
  font-family: 'ralewayregular';
  src: url("Fonts/raleway-regular-webfont.woff2") format("woff2"), url("Fonts/raleway-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ralewaybold';
  src: url("Fonts/raleway-bold-webfont.woff2") format("woff2"), url("Fonts/raleway-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ralewaysemibold';
  src: url("Fonts/raleway-semibold-webfont.woff2") format("woff2"), url("Fonts/raleway-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.freeartwork .modal-content {
  background-color: rgba(54, 54, 54, 0.9);
  color: #fff; }
  .freeartwork .modal-content .modal-header .close {
    color: #fff; }
  .freeartwork .modal-content .modal-header .modal-title {
    font-size: 2.3em; }
    .freeartwork .modal-content .modal-header .modal-title span {
      color: #FF0000; }

.modal .modal-header {
  z-index: 10; }

.modal .close {
  margin-top: -10px; }

.modal .modal-body {
  z-index: 0;
  padding: 15px; }

@font-face {
  font-family: 'ralewayregular';
  src: url("Fonts/raleway-regular-webfont.woff2") format("woff2"), url("Fonts/raleway-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ralewaybold';
  src: url("Fonts/raleway-bold-webfont.woff2") format("woff2"), url("Fonts/raleway-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ralewaysemibold';
  src: url("Fonts/raleway-semibold-webfont.woff2") format("woff2"), url("Fonts/raleway-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.national.video video {
  width: 100%;
  height: 100%;
  max-height: 750px;
  min-height: 400px;
  object-fit: fill; }

.national.video .brand {
  position: absolute;
  top: 0;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 5.3vw;
  height: 100%; }
  @media (min-width: 1300px) {
    .national.video .brand {
      padding: 6.7vw; } }
  @media (max-width: 1100px) {
    .national.video .brand {
      padding: 3.9vw; } }
  @media (max-width: 900px) {
    .national.video .brand {
      padding: 3.1vw; } }
  @media (max-width: 768px) {
    .national.video .brand {
      padding: .9vw; } }
  @media (max-width: 480px) {
    .national.video .brand {
      padding: 3.1vw; } }
  .national.video .brand h2 {
    color: #414141;
    font-size: 4vw;
    border-bottom: solid 1px #000; }
    @media (min-width: 1300px) {
      .national.video .brand h2 {
        font-size: 4.3em; } }
    @media (max-width: 680px) {
      .national.video .brand h2 {
        font-size: 6.2vw;
        margin-top: 5px; } }
    @media (max-width: 480px) {
      .national.video .brand h2 {
        font-size: 7.3vw; } }
    @media (max-width: 400px) {
      .national.video .brand h2 {
        font-size: 9vw;
        margin-top: 15.2px; } }
    .national.video .brand h2 span {
      color: #FF0000; }
  .national.video .brand p {
    color: #414141;
    font-size: 1.3em; }
    @media (max-width: 767px) {
      .national.video .brand p {
        font-size: 2.6vw; } }
    @media (max-width: 480px) {
      .national.video .brand p {
        font-size: 4.6vw;
        margin-bottom: 5px; } }
    .national.video .brand p:first-of-type {
      margin-bottom: 1.7vw;
      color: #FF0000; }
    .national.video .brand p:nth-of-type(3) {
      margin-bottom: 1.7vw; }
  .national.video .brand a {
    color: #fff;
    font-size: 1.6em; }
    @media (max-width: 767px) {
      .national.video .brand a {
        font-size: 3.6vw; } }

.boxes {
  background-image: url("/Content/Images/About/boxes.jpg");
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  padding: 35px 0; }
  @media (max-width: 480px) {
    .boxes {
      padding: 35px 0; } }
  .boxes h3 {
    text-shadow: 1px 1px 0 #fff;
    font-size: 3.6vw; }
    @media (max-width: 480px) {
      .boxes h3 {
        font-size: 1.7em; } }
  .boxes p i {
    border: solid black;
    border-width: 0 10px 10px 0;
    display: inline-block;
    padding: 23px; }
    .boxes p i.down {
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg); }

.programs {
  margin: 25px 0; }
  .programs .row {
    border: none;
    padding: 0;
    height: auto; }
  .programs div {
    padding: 25px;
    border-right: dashed 2px #FF0000; }
    @media (max-width: 900px) {
      .programs div {
        min-height: 360px; } }
    @media (max-width: 480px) {
      .programs div {
        padding: 0;
        min-height: 320px; } }
    @media (max-width: 767px) {
      .programs div:nth-of-type(2), .programs div:nth-of-type(4) {
        border-right: none; } }
    .programs div:nth-of-type(4) {
      border-right: none; }
    .programs div h4 {
      font-size: 3vw;
      color: #FF0000; }
      @media (min-width: 1400px) {
        .programs div h4 {
          font-size: 2vw; } }
    .programs div img {
      max-width: 150px; }
    .programs div p {
      padding: 15px 0;
      height: 100px; }
      @media (max-width: 480px) {
        .programs div p {
          padding: 15px 5px; } }
      .programs div p span {
        color: #FF0000; }
    .programs div a {
      position: absolute;
      bottom: 0;
      left: 50%;
      color: #FF0000;
      transform: translate(-50%, 0); }
      .programs div a:hover {
        opacity: .5; }

.mutual {
  position: relative;
  background-image: url("/Content/Images/About/warehouse.jpg");
  background-size: cover;
  height: 100%;
  width: 100%;
  padding: 25px 0; }
  .mutual:before {
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6); }
  @media (max-width: 767px) {
    .mutual div {
      margin-top: 35px; } }
  .mutual div.row, .mutual div.col-lg-10 {
    margin-top: 0; }
  .mutual h3 {
    color: #fff;
    font-size: 3.3em;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5); }
    .mutual h3 span {
      color: #FF0000; }
  .mutual h4 {
    color: #fff;
    font-size: 3em; }
    @media (max-width: 480px) {
      .mutual h4 {
        font-size: 2.9em; } }
    .mutual h4 span {
      color: #FF0000; }
  .mutual ul {
    margin-top: 0;
    list-style-type: disc;
    padding: 0 25px;
    height: 280px; }
    @media (min-width: 1350px) {
      .mutual ul {
        max-height: 260px; } }
    @media (max-width: 900px) {
      .mutual ul {
        height: 100%; } }
    @media (max-width: 480px) {
      .mutual ul {
        padding: 0;
        height: auto; } }
    .mutual ul li {
      margin: 0 0 20px 0;
      font-size: 1.2em;
      color: #fff; }
      .mutual ul li span {
        color: #FF0000; }
  .mutual .btn {
    max-width: 390px; }
    @media (max-width: 768px) {
      .mutual .btn {
        white-space: normal;
        max-width: 100%; } }
  .mutual .border-bottom {
    border-bottom: solid 2px #fff;
    width: 47%; }
    @media (min-width: 1350px) {
      .mutual .border-bottom {
        width: 32%; } }
    @media (max-width: 767px) {
      .mutual .border-bottom {
        width: 80%;
        margin-top: 5px; } }

.schools img {
  width: 100%;
  max-height: 450px;
  object-fit: cover;
  object-position: center; }

@font-face {
  font-family: 'ralewayregular';
  src: url("Fonts/raleway-regular-webfont.woff2") format("woff2"), url("Fonts/raleway-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ralewaybold';
  src: url("Fonts/raleway-bold-webfont.woff2") format("woff2"), url("Fonts/raleway-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ralewaysemibold';
  src: url("Fonts/raleway-semibold-webfont.woff2") format("woff2"), url("Fonts/raleway-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.campaign {
  color: #fff; }
  .campaign .modal-content {
    background-color: #000; }
    .campaign .modal-content .modal-header {
      border: none; }

@font-face {
  font-family: 'ralewayregular';
  src: url("Fonts/raleway-regular-webfont.woff2") format("woff2"), url("Fonts/raleway-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ralewaybold';
  src: url("Fonts/raleway-bold-webfont.woff2") format("woff2"), url("Fonts/raleway-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ralewaysemibold';
  src: url("Fonts/raleway-semibold-webfont.woff2") format("woff2"), url("Fonts/raleway-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.county .network {
  background-image: url("/Content/Images/County/sad_business_guy.jpg");
  background-position: center;
  background-size: cover; }
  .county .network h2 {
    padding: 100px;
    color: #000;
    font-size: 3.5em;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.7); }
    @media (max-width: 767px) {
      .county .network h2 {
        padding: 25px; } }
    @media (max-width: 480px) {
      .county .network h2 {
        font-size: 2.5em; } }

.happy-workers .help {
  padding: 15px; }
  .happy-workers .help h3 {
    color: #FF0000;
    font-size: 3em;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.7); }
  .happy-workers .help p {
    padding: 25px;
    font-size: 16px; }
    .happy-workers .help p span {
      color: #FF0000; }

.county.circles .circle {
  margin: 0 auto; }
  .county.circles .circle h5 {
    font-size: 1.2em;
    display: block; }
    .county.circles .circle h5 span {
      display: none;
      font-size: 3em; }

.leader h4 {
  font-size: 3em; }
  .leader h4 span {
    color: #FF0000; }

.leader h5 {
  color: #414141; }

.leader p span {
  color: #FF0000; }

.leader .btn {
  transform: translate(-400%, 0);
  margin-top: 25px;
  max-width: 350px; }

@font-face {
  font-family: 'ralewayregular';
  src: url("Fonts/raleway-regular-webfont.woff2") format("woff2"), url("Fonts/raleway-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ralewaybold';
  src: url("Fonts/raleway-bold-webfont.woff2") format("woff2"), url("Fonts/raleway-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ralewaysemibold';
  src: url("Fonts/raleway-semibold-webfont.woff2") format("woff2"), url("Fonts/raleway-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.slices .col-lg-6 {
  max-width: 640px; }

.slices h3 {
  margin: 10px 0;
  font-size: 3.3em;
  font-family: sans-serif;
  text-align: right;
  transform: translate(-600%, 0); }
  @media (max-width: 767px) {
    .slices h3 {
      text-align: center; } }

.slices h2 {
  margin: 10px 0;
  font-size: 3.2em;
  color: #FF0000;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.7);
  transform: translate(600%, 0); }
  @media (max-width: 767px) {
    .slices h2 {
      text-align: center; } }

.slices img {
  transform: translate(600%, 0); }

.slices .btn {
  max-width: 100%; }

@media (max-width: 767px) {
  .slices .border-right {
    border-bottom: solid 2px #000;
    border-right: none; } }

.catch {
  position: relative; }
  .catch .catch-block {
    background-color: #FF0000;
    padding: 100px;
    height: 600px; }
    @media (max-width: 1024px) {
      .catch .catch-block {
        padding: 70px;
        height: 500px; } }
    @media (max-width: 768px) {
      .catch .catch-block {
        padding: 50px 5px; } }
    @media (max-width: 767px) {
      .catch .catch-block {
        height: 100%; } }
    .catch .catch-block h3 {
      width: 80%;
      border-bottom: solid 2px #000;
      font-size: 3.5em;
      color: #fff; }
    .catch .catch-block p {
      padding: 25px 0;
      color: #fff; }
    .catch .catch-block .btn {
      max-width: 100%; }
  .catch .img-block-parallax {
    background-image: url("/Content/Images/Pizza/pizza-guy-with-mag.png");
    background-attachment: fixed;
    background-position: 340px 20px;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
    max-height: 600px; }
    @media (min-width: 1300px) {
      .catch .img-block-parallax {
        background-position: 510px 20px; } }
    @media (max-width: 1024px) {
      .catch .img-block-parallax {
        min-height: 500px; } }
    @media (max-width: 768px) {
      .catch .img-block-parallax {
        background-position: 280px 330px; } }
    @media (max-width: 767px) {
      .catch .img-block-parallax {
        background-position: -50px 330px; } }
    @media (max-width: 480px) {
      .catch .img-block-parallax {
        background-position: 0 190px;
        min-height: 350px; } }
    .catch .img-block-parallax.funny-guy {
      background-image: url("/Content/Images/Pizza/funny-pizza-man.png");
      background-position: -260px 150px; }

.connected h4 {
  font-size: 2.1em;
  font-weight: bold;
  color: #FF0000; }

.connected p {
  font-size: 1.5em;
  color: #000; }

.connected .content-wrapper a {
  font-size: 1.5em;
  color: #FF0000;
  display: inline-block;
  transform: translate(-600%, 0); }
  @media (max-width: 767px) {
    .connected .content-wrapper a {
      margin: 0 auto;
      display: block; } }

.connected .content-wrapper img {
  display: inline-block;
  transform: translate(600%, 0); }
  @media (max-width: 767px) {
    .connected .content-wrapper img {
      margin: 0 auto;
      display: block; } }

.pizza-magnet img {
  width: 100%;
  max-height: 550px;
  object-fit: cover;
  object-position: center; }

@font-face {
  font-family: 'ralewayregular';
  src: url("Fonts/raleway-regular-webfont.woff2") format("woff2"), url("Fonts/raleway-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ralewaybold';
  src: url("Fonts/raleway-bold-webfont.woff2") format("woff2"), url("Fonts/raleway-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ralewaysemibold';
  src: url("Fonts/raleway-semibold-webfont.woff2") format("woff2"), url("Fonts/raleway-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.school-header {
  background-image: url("/Content/Images/Schools/School-Page_Header-Banner-12-1-17rj.png");
  background-size: cover;
  background-position: center;
  padding: 100px 0; }
  @media (max-width: 480px) {
    .school-header {
      padding: 50px 0; } }
  .school-header h2 {
    color: #fff;
    border-right: solid 2px #fff;
    text-align: right;
    padding-right: 15px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.7); }
  @media (max-width: 400px) {
    .school-header .col-xs-10 {
      width: 100%; } }

.ready-break {
  position: relative;
  margin-bottom: 40px; }
  .ready-break:after {
    content: '';
    position: absolute;
    bottom: -40px;
    width: 100%;
    height: 100%;
    max-height: 100px;
    background-image: url("/Content/Images/Schools/School-Page-Strip-12-1-17-rj.png");
    background-size: contain;
    z-index: -1; }
    @media (max-width: 1000px) {
      .ready-break:after {
        bottom: auto; } }
    @media (max-width: 767px) {
      .ready-break:after {
        bottom: 30%;
        background-repeat: no-repeat; } }
    @media (max-width: 480px) {
      .ready-break:after {
        bottom: 45%; } }
  .ready-break h3 {
    font-size: 4em;
    border-left: 2px solid #FF0000;
    padding-left: 15px; }
    .ready-break h3 span {
      color: #FF0000; }

.home-field {
  height: 100%; }
  .home-field .row {
    background-color: #045184;
    padding: 25px 0 35px 0; }
    .home-field .row h2 {
      color: #fff; }
  .home-field .card-deck {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    width: 75%; }
    @media (max-width: 768px) {
      .home-field .card-deck {
        position: relative;
        width: 100%; } }
    .home-field .card-deck .card {
      width: 20%;
      height: 216px;
      display: inline-block;
      float: left;
      background-color: #ff6161; }
      @media (max-width: 650px) {
        .home-field .card-deck .card {
          width: 100%;
          height: 100%; } }
      .home-field .card-deck .card .card-body {
        width: 100%;
        height: 100%;
        color: #fff; }
        .home-field .card-deck .card .card-body img {
          max-height: 216px;
          min-height: 216px;
          object-fit: cover;
          width: 100%;
          height: 100%; }
        @media (max-width: 650px) {
          .home-field .card-deck .card .card-body {
            height: 100%; } }
        .home-field .card-deck .card .card-body h5 {
          font-size: 1.5em; }
        .home-field .card-deck .card .card-body p {
          padding: 15px 0; }

.merch img {
  object-fit: cover;
  width: 100%;
  height: 100%; }

@font-face {
  font-family: 'ralewayregular';
  src: url("Fonts/raleway-regular-webfont.woff2") format("woff2"), url("Fonts/raleway-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ralewaybold';
  src: url("Fonts/raleway-bold-webfont.woff2") format("woff2"), url("Fonts/raleway-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ralewaysemibold';
  src: url("Fonts/raleway-semibold-webfont.woff2") format("woff2"), url("Fonts/raleway-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.entertainment-header {
  background-image: url("/Content/Images/Entertainment/Entertainment---Crowd-Banner-image.png");
  background-size: cover;
  height: 100%;
  width: 100%;
  padding: 50px 0;
  color: #E0AE09; }
  .entertainment-header p {
    font-size: 2.3em;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.7); }
  .entertainment-header h2 {
    font-size: 2.9em;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.7); }
  .entertainment-header .border-left {
    border-left: solid 2px #E0AE09;
    padding: 20px 0;
    margin: 35px 0; }
    @media (max-width: 767px) {
      .entertainment-header .border-left {
        border: none; } }

.entertainment-items {
  margin-top: 15px;
  padding: 50px 0;
  border-top: 3px solid #FF0000;
  border-bottom: 3px solid #FF0000; }
  .entertainment-items h3 {
    font-size: 2.5em; }
  .entertainment-items p {
    font-size: 1.2em; }
    .entertainment-items p span {
      color: #FF0000; }
  .entertainment-items img {
    margin: 0 auto; }

.small-town-affairs {
  padding: 25px 0; }
  .small-town-affairs p {
    font-size: 1.2em;
    color: #000;
    max-width: 600px; }
    .small-town-affairs p span {
      color: #FF0000; }

.mud-run img {
  object-fit: cover;
  width: 100%;
  height: 100%; }

@font-face {
  font-family: 'ralewayregular';
  src: url("Fonts/raleway-regular-webfont.woff2") format("woff2"), url("Fonts/raleway-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ralewaybold';
  src: url("Fonts/raleway-bold-webfont.woff2") format("woff2"), url("Fonts/raleway-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ralewaysemibold';
  src: url("Fonts/raleway-semibold-webfont.woff2") format("woff2"), url("Fonts/raleway-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.proddesc .modal-dialog {
  width: 100%;
  max-width: 1024px; }
  .proddesc .modal-dialog .close {
    margin-top: -30px; }

.proddesc .modal-body h4 {
  font-size: 24px; }

.proddesc .modal-body h5 {
  font-size: 22px;
  border-bottom: solid 1px #d4d4d4; }

.proddesc .modal-body .product-img-container {
  position: relative; }
  @media (max-width: 767px) {
    .proddesc .modal-body .product-img-container {
      float: left;
      margin-bottom: 15px;
      height: 100%;
      z-index: 100; } }
  .proddesc .modal-body .product-img-container iframe {
    position: absolute;
    bottom: 45px;
    right: 19px; }

.proddesc img {
  width: 100%;
  height: 100%;
  object-fit: cover; }
  .proddesc img.thumb {
    width: 75px;
    height: 75px;
    margin-top: 10px;
    padding-right: 5px; }

@font-face {
  font-family: 'ralewayregular';
  src: url("Fonts/raleway-regular-webfont.woff2") format("woff2"), url("Fonts/raleway-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ralewaybold';
  src: url("Fonts/raleway-bold-webfont.woff2") format("woff2"), url("Fonts/raleway-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ralewaysemibold';
  src: url("Fonts/raleway-semibold-webfont.woff2") format("woff2"), url("Fonts/raleway-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.products-page.video:after {
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2); }

.products-page.video video {
  width: 100%;
  height: 100%;
  max-height: 750px;
  min-height: 400px;
  object-fit: fill; }

.products-page.video .products {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 846px;
  z-index: 100; }
  @media (max-width: 767px) {
    .products-page.video .products {
      width: 85%; } }
  .products-page.video .products h2 {
    font-size: 37px;
    color: #000;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5); }
  .products-page.video .products h3 {
    color: #000;
    font-size: 1.3em; }
    @media (max-width: 767px) {
      .products-page.video .products h3 {
        margin-top: 10px; } }
  .products-page.video .products a {
    color: #FF0000; }
    .products-page.video .products a:hover {
      opacity: .7; }
  .products-page.video .products .border-right {
    border-right: solid 5px #fff;
    padding: 8px 0; }
  .products-page.video .products .padding-left {
    padding-left: 25px;
    padding-top: 25px; }
    @media (max-width: 767px) {
      .products-page.video .products .padding-left {
        padding: 0; } }

.different-products h2 {
  border-bottom: solid 1px #d4d4d4; }

.different-products img {
  margin: 0 auto;
  object-position: 0 8px; }
  @media (max-width: 975px) and (min-width: 480px) {
    .different-products img {
      min-width: 357px;
      height: 100%; } }

.different-products .hover-box {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 357px;
  max-height: 275px;
  margin: 0 auto;
  cursor: pointer; }
  .different-products .hover-box:hover {
    cursor: pointer; }
    .different-products .hover-box:hover:after {
      content: '';
      position: absolute;
      top: 8px;
      width: 100%;
      height: 97%;
      background-color: rgba(0, 0, 0, 0.8); }
  .different-products .hover-box .hover-content {
    position: absolute;
    top: 8px;
    width: 80%;
    height: 97%;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 100;
    display: none; }
    .different-products .hover-box .hover-content h4 {
      padding: 10px 0;
      font-size: 1.7em;
      color: #fff; }
      @media (max-width: 375px) {
        .different-products .hover-box .hover-content h4 {
          margin-bottom: 5px;
          padding: 5px 0; } }
    .different-products .hover-box .hover-content p {
      padding: 10px 0;
      font-size: 1.3em;
      color: #fff; }
      @media (max-width: 375px) {
        .different-products .hover-box .hover-content p {
          padding: 5px 0; } }
    .different-products .hover-box .hover-content .btn-default {
      margin: 0 auto; }

.different-products .no-gutters {
  padding-right: 10px; }

.promotional-ad .btn {
  position: absolute;
  bottom: 40px;
  right: 40px; }

.prodDesc .product-slick .slick-slide {
  padding: 4px;
  cursor: pointer; }
  @media (max-width: 480px) {
    .prodDesc .product-slick .slick-slide {
      padding: 0; } }
  @media (max-width: 480px) {
    .prodDesc .product-slick .slick-slide img {
      margin: 0 auto; } }

.prodDesc .product-slick .slick-prev {
  left: -45px;
  transform: rotate(45deg); }
  @media (max-width: 1025px) {
    .prodDesc .product-slick .slick-prev {
      display: none !important; } }
  .prodDesc .product-slick .slick-prev:after {
    content: '';
    position: absolute;
    left: 1px;
    width: 100%;
    height: 100%;
    border-right: 2px solid #000; }
  .prodDesc .product-slick .slick-prev:before {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    border-top: 2px solid #000; }

.prodDesc .product-slick .slick-next {
  width: 21px;
  right: -45px;
  transform: rotate(-45deg); }
  @media (max-width: 1025px) {
    .prodDesc .product-slick .slick-next {
      display: none !important; } }
  .prodDesc .product-slick .slick-next:after {
    content: '';
    position: absolute;
    right: 0;
    width: 100%;
    height: 100%;
    border-left: 2px solid #000; }
  .prodDesc .product-slick .slick-next:before {
    content: '';
    position: absolute;
    right: 0;
    width: 100%;
    height: 100%;
    border-top: 2px solid #000; }

@font-face {
  font-family: 'ralewayregular';
  src: url("Fonts/raleway-regular-webfont.woff2") format("woff2"), url("Fonts/raleway-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ralewaybold';
  src: url("Fonts/raleway-bold-webfont.woff2") format("woff2"), url("Fonts/raleway-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ralewaysemibold';
  src: url("Fonts/raleway-semibold-webfont.woff2") format("woff2"), url("Fonts/raleway-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.contact-page .col-lg-11 {
  margin: 0 auto 50px auto; }
  @media (min-width: 1350px) {
    .contact-page .col-lg-11 {
      max-width: 1263px; } }
  .contact-page .col-lg-11 img {
    width: 100%; }

@media (min-width: 1350px) {
  .contact-page .col-lg-7 {
    max-width: 900px;
    margin: 0 auto; } }

.contact-page p {
  max-width: 152px;
  margin: 0 auto;
  color: #FF0000; }
  .contact-page p:nth-of-type(2) {
    color: #000; }

.contact-page a:hover {
  text-decoration: none;
  cursor: pointer;
  opacity: .7; }

.contact-page.img-block-parallax {
  background-image: url("/Content/Images/Contact/contact-parralax-img.png");
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 450px;
  margin-top: 50px; }
  @media (max-width: 480px) {
    .contact-page.img-block-parallax {
      height: 250px; } }

.address {
  padding-top: 50px;
  padding-bottom: 50px;
  border-top: solid 5px #FF0000;
  margin-top: 35px; }
  @media (min-width: 1350px) {
    .address .col-lg-7 {
      max-width: 900px;
      margin: 0 auto; } }
  .address h6 {
    color: #000;
    font-size: 1em;
    font-weight: bold; }
    .address h6 span {
      font-weight: 100; }
  .address a {
    cursor: pointer; }

@media (min-width: 1350px) {
  .partners .col-lg-7 {
    max-width: 900px;
    margin: 0 auto; } }

.howcanwehelpmodal .modal-content .close {
  margin-right: -10px; }

.howcanwehelpmodal .modal-content p {
  margin: 0; }

.blog {
  margin-top: 55px; }
  .blog .blogContainer .postDescContainer {
    border: solid 1px #d4d4d4;
    box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.3);
    margin: 25px 0;
    padding: 15px; }
  .blog .blogContainer .mainblogbar {
    padding-top: 55px; }
    @media (max-width: 767px) {
      .blog .blogContainer .mainblogbar {
        padding-top: 25px; } }
  .blog .blogContainer .blogControlPanel {
    float: left; }
    .blog .blogContainer .blogControlPanel div {
      margin: 8px 0; }
  .blog .blogContainer .adminBlogCtrl a {
    margin: 5px 0;
    color: #273866; }
  .blog .blogContainer .blogCtrlTable {
    float: left; }
  .blog .blogContainer .indexSearchForm input[type="search"] {
    border: solid 1px #d4d4d4; }
  .blog .pagination li {
    font-size: 24px; }

.posts {
  margin-top: 55px; }
  .posts .postContainer {
    border: solid 1px #d4d4d4;
    box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.4);
    padding: 15px; }
    .posts .postContainer .postVote {
      margin-top: 45px; }

.postedit {
  margin-top: 55px; }

body {
  padding-top: 50px;
  padding-bottom: 20px; }

.body-content {
  margin-top: 39px; }

