
@{
    ViewBag.Title = "HowItWorks";
}

<section class="our-process container-fluid relative">
    <img src="http://via.placeholder.com/2000x650" class="img-responsive" />
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-7 center-block">
            <div class="light-blk-box">
                <div class="col-xs-10 col-sm-6 col-md-6 col-lg-5 center-block">
                    <h2 class="text-center">Our Process</h2>
                    <p class="text-center">Most likely we've alre<span>ad</span>y spoken to each other over the phone and you're here to find out some more information about us.</p>
                    <p class="text-center">That has the first step in out process.</p>
                </div>
                <div class="col-lg-3 center-block">
                    <ul>
                        <li class="text-center">
                            <span class="chevron"></span>
                        </li>
                        <li class="text-center">
                            <span class="chevron"></span>
                        </li>
                    </ul>
                </div>
            </div>           
        </div>
    </div>
</section>
