
@{
    ViewBag.Title = "Schools";
}

<section class="school-header">
    <div class="row">
        <div class="col-xs-10 col-sm-6 col-sm-pull-2 col-md-5 col-md-pull-2 col-lg-5 col-lg-pull-2 center-block">
            <h2>GET YOUR BRAND<br />BACK IN THE GAME</h2>
        </div>
    </div>
</section>

<section class="ready-break m-top-50">
    <div class="row">
        <div class="col-lg-10 center-block">
            <div class="col-xs-12 col-sm-6 col-sm-push-1 col-md-6 col-md-push-1 col-lg-6 col-lg-push-1">
                <img src="@Url.Content("/Content/Images/Schools/School-Page_Product_Trio.png")" class="img-responsive" />
            </div>
            <div class="col-xs-12 col-sm-4 col-sm-push-1 col-md-4 col-md-push-1 col-lg-4 col-lg-push-1">
                <h3 class="text-left">Re<span>ad</span>y...<br /><span>BREAK!</span></h3>
                <p>We've partnered with OVER 2,500 High Schools and Middle Schools across the country to bring business owners exclusive-front-row access to the most excitable, loyal and consistently active consumers in the marketplace: The American Family</p>
            </div>
        </div>
    </div>
</section>

<section class="home-field">
    <div class="row relative">
        <div class="col-lg-8 center-block">
            <h2 class="text-center">OUR HOME FIELD ADVANTAGE</h2>
            <div class="card-deck">
                <div class="card">
                    <div class="card-body">
                        <h5 class="text-center">STRATEGY</h5>
                        <p class="text-center">We are a 100% self-contained operation.  We're able to work with you every step of the way</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <img src="@Url.Content("/Content/Images/Schools/working-box.jpg")" class="img-responsive" />
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="text-center">DESIGN</h5>
                        <p class="text-center">We design and print everything in house to ensure you receive the best looking ad possible</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <img src="@Url.Content("/Content/Images/Schools/boxes.jpg")" class="img-responsive" />
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="text-center">EXECUTION</h5>
                        <p class="text-center">From setting up the distribution and tracking your ROI to shipping your product directly to the school, we handle it all</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="merch">
    <img src="@Url.Content("/Content/Images/Schools/Gregory_school_products.png")"/>
</section>
