@using Microsoft.AspNet.Identity
<section class="user-controls">
    @if (Request.IsAuthenticated)
    {
        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "login-form" }))
        {
            @Html.AntiForgeryToken()

            <li>
                <a href="@Url.Action("Index", "Manage", null)" data-toggle="tooltip" title="User">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()" data-toggle="tooltip" title="Log Out"><span class="glyphicon glyphicon-log-out"></span></a></li>
        }
    }
    else
    {
        <li>
            <a href="@Url.Action("Register", "Account")" id="registerlink" data-toggle="tooltip" title="Register">
                <span class="glyphicon glyphicon-registration-mark"></span>
            </a>
        </li>
        <li><a href="@Url.Action("Login", "Account")" id="registerLink" data-toggle="tooltip" title="Login"><span class="glyphicon glyphicon-log-in"></span></a></li>
    }
</section>

