<div class="modal fade proddesc" data-attributes="prodDesc" id="productDesc">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Product</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 product-img-container">
                        <img ng-attr-id="{{product.id}}" ng-src="{{ product.mainImg }}" class="img-responsive prodImg" />
                        @Html.Partial("_SocialMedia")
                        <div class="col-xs-3 col-sm-3 col-md-2 col-lg-2  no-gutters">
                            <img id="thumbOne" ng-src="{{product.thumb_one}}" class="img-responsive thumb" ng-click="thumbOneSwap($event)" />
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-2 col-lg-2 no-gutters"><img id="thumbTwo" ng-src="{{product.thumb_two }}" class="img-responsive thumb" ng-click="thumbOneSwap($event)" /></div>
                        <div class="col-xs-3 col-sm-3 col-md-2 col-lg-2 no-gutters"><img id="thumbThree" ng-src="{{product.print }}" class="img-responsive thumb" ng-click="thumbOneSwap($event)" /></div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <h5>{{ product.heading }}</h5>
                        <p><b>Description:</b> <br /> {{ product.desc }}</p>                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




