@import 'Typography.scss';

.btn {
    width: 100%;
    display: block;
    font-size: 1.2em;
    color: #000;
    max-width: 140px;
    font-family: $raleway-semi-bold;

    @media (max-width: 480px) {
        font-size: 1em;
    }

    &.red {
        background-color: $red;
        color: $white;
    }

    &.white {
        background-color: $white;
        color: $red;
    }

    &.black {
        background-color: #000;
        color: $white;
    }

    &:hover {
        opacity: .7;
    }
}


