@import 'Typography.scss';

.center-block {
    margin: 0 auto;
    display: block;
    float: none;
}

.hide-for-small {
    @media (max-width: 767px) {
        display: none;
    }
}

.show-for-small {
    @media (min-width: 767px) {
        display: none;
    }
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.relative {
    position: relative;
}

h1, h2, h3, h4, h5 {
    font-family: $raleway-bold;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.bw {
    margin: 15px 0;
    width: 100%;
}

.m-top-50 {
    margin-top: 50px;
}

.m-top-25 {
    margin-top: 25px;
}

ul {
    list-style-type: none;
    margin-top: -190px;
    padding-left: 0;

    @media (min-width: 1600px) {
        margin-top: -130px;
    }

    li {
        margin: 0;
        margin-top: -55px;
        font-size: 50px;


        .chevron::before {
            border-style: solid;
            border-width: 0.15em 0.15em 0 0;
            content: '';
            display: inline-block;
            height: 1.25em;
            position: relative;
            transform: rotate(135deg);
            vertical-align: top;
            width: 1.25em;
            border-radius: 5px;
            border-color: $white;
        }
    }
}
