@model UniversalAdcom.Models.BlogViewModel

@{
    ViewBag.Title = "Index";
}

<div class="blogContainer">
    <div class="mainblogView">
        @Html.Partial("Posts")
    </div>
    <div class="mainblogbar">

    </div>
</div>

